<ion-content [fullscreen]="true">
    <ion-row class="temp-content">
        <ion-col size="12">
            <img src="../../assets/images/icon-success.png" class="logo" alt="success"/>
        </ion-col> 
        <ion-col size="12" class="form-text"> 
            <p class="title">Berhasil Booking</p>
        </ion-col>
    </ion-row>
    <ion-col size="12" class="form-button">
        <ion-button class="manual-button outline" expand="block" color="transparent" size="medium" (click)="goHome()">
            Kembali
        </ion-button>
    </ion-col>
</ion-content>