<ion-header [translucent]="true">
    <ion-toolbar class="header background">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content">
    <ion-row class="temp-content">
        <ion-col size="12">
            <p class="title">Syarat dan Ketentuan</p>
        </ion-col>
    </ion-row>
    <ion-card class="body-content">
        <p class="text-body">
            The input component is a wrapper to the HTML input element with custom styling and additional functionality. 
            It accepts most of the same properties as the HTML input, 
            but works great on desktop devices and integrates with the keyboard on mobile devices.
            <br/>
            The input component is a wrapper to the HTML input element with custom styling and additional functionality. 
            It accepts most of the same properties as the HTML input, 
            but works great on desktop devices and integrates with the keyboard on mobile devices.
            <br/>
            The input component is a wrapper to the HTML input element with custom styling and additional functionality. 
            It accepts most of the same properties as the HTML input, 
            but works great on desktop devices and integrates with the keyboard on mobile devices.
            <br/>
            The input component is a wrapper to the HTML input element with custom styling and additional functionality. 
            It accepts most of the same properties as the HTML input, 
            but works great on desktop devices and integrates with the keyboard on mobile devices.
            <br/>
            The input component is a wrapper to the HTML input element with custom styling and additional functionality. 
            It accepts most of the same properties as the HTML input, 
            but works great on desktop devices and integrates with the keyboard on mobile devices.
        </p>
    </ion-card>
</ion-content>
<ion-footer>
<ion-toolbar>
    <ion-title>
        <ion-button expand="block" size="medium" (click)="goHome()">
            Saya Setuju
        </ion-button>
    </ion-title>
</ion-toolbar>
</ion-footer>