<ion-tabs selectedIndex="1">
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab="order" [root]="order">
        <ion-label>Pekerjaan</ion-label>
        <ion-icon name="construct-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="history" [root]="history">
        <ion-label>History</ion-label>
        <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>    
    <ion-tab-button tab="profile" [root]="profile">
        <ion-label>Person</ion-label>
        <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>