.header{
    color: #fff;
}
.background{
    --ion-background-color: #314A9F;
}
.content{
    --ion-background-color: #314A9F;
}
.temp-content{
    margin-top: 10%;
}
.logo{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.title{
    margin-top:40px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
.white{
    color: #fff;
}
.form-content{
    margin-top: 1%;
}
.label{
    text-align: center;
    font-weight: bold;
}
// .form-button{
//     position: absolute;
//     width: 50%;
//     bottom: 1%;
// }
.form-button{
    position: relative;
    width: 50%;
    bottom: 0px;
    z-index: inherit;
}
.form-input{
    text-align: center;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ion-input{
        font-size:20px;
        font-weight:600px;
        color:#ffffff;
        input {
            text-align: center;
        }
        .text-input::-moz-placeholder {
            color: #ffffff;
        }
        
        .text-input:-ms-input-placeholder {
            color: #ffffff;
        }
        
        .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: #fff;
        }
    }
}